{% extends "base.html.twig" %}
{% block javascript %}
	<script type="text/javascript"
		src="{{ frontendDir }}/js/menu/kkmServer.js"></script>
	<script type="text/javascript"
		src="{{ frontendDir }}/js/menu/simpleOperations.js"></script>
	<script type="text/javascript"
		src="{{ frontendDir }}/js/menu/inOutCash.js"></script>
	<script type="text/javascript"
		src="{{ frontendDir }}/js/menu/getDataCheck.js"></script>
	<script type="text/javascript"
		src="{{ frontendDir }}/js/menu/screenParams.js"></script>
{% endblock javascript %}
{% block body %}
	<div class="card w-100 m-5">
		<div class="card-header"><h2>Функции работы с ФР</h2></div>
		<div class="card-body">
			<div class="row">
				<div class="col-6">
					<div class="card">
						<div class="card-body">
							<h3 class="card-title">Смена</h3>
							<h5 class="card-subtitle mb-2 text-body-secondary">
								Операции по работе со сменой в ФР
							</h5>
							<ul class="list-group">
								<li class="list-group-item">
									Текущее состояние смены:
									<span id="currentShiftState">
										<span class="spinner-grow spinner-grow-sm"
											role="status"></span>
									</span>
								</li>
								<li class="list-group-item">
									<a href="#" class="link-primary" id="openShift">
										Открыть смену
									</a>

								</li>
								<li class="list-group-item">
									<a href="#"
										class="link-primary"
										data-bs-toggle="modal"
										data-bs-target="#closeShiftPromptModal">
										Закрыть смену (Z-отчет)
									</a>

								</li>
								<li class="list-group-item">
									<a href="#"
										class="link-primary"
										data-bs-toggle="modal"
										data-bs-target="#printChequeCopyModal">
										Печать копии чека
									</a>

								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="card">
						<div class="card-body">
							<h3 class="card-title">Наличные в кассе</h3>
							<h5 class="card-subtitle mb-2 text-body-secondary">
								Внесение или изъятие наличных из кассы
							</h5>
							<ul class="list-group">
								<li class="list-group-item">
									Наличные в кассе:
									<span id="balanceCash">
										<span class="spinner-grow spinner-grow-sm"
											role="status"></span>
									</span>
								</li>
								<li class="list-group-item">
									<a href="#"
										data-bs-toggle="modal"
										data-bs-target="#inOutCashModal"
										data-bs-direction="in"
										class="link-primary">
										Внести наличные в кассу
									</a>

								</li>
								<li class="list-group-item">
									<a href="#"
										data-bs-toggle="modal"
										data-bs-target="#inOutCashModal"
										data-bs-direction="out"
										class="link-primary">
										Изъять наличные из кассы
									</a>

								</li>
								<li class="list-group-item">
									<a href="#"
										data-bs-toggle="modal"
										data-bs-target="#inOutCashModal"
										data-bs-direction="out"
										data-bs-total="true"
										class="link-primary">
										Инкассация (изъятие всех наличных)
									</a>

								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-6">
					<div class="card">
						<div class="card-body">
							<h3 class="card-title">Отчеты</h3>
							<h5 class="card-subtitle mb-2 text-body-secondary">
								Снятие отчетов по смене
							</h5>
							<ul class="list-group">
								<li class="list-group-item">
									<a href="#" class="link-primary" id="XReport">X-отчет</a>

								</li>
								<li class="list-group-item">
									<a href="#" class="link-primary" id="KKTStatus">
										Краткое состояние ККТ
									</a>
								</li>
								<li class="list-group-item">
									<a href="#" class="link-primary" id="KKTFullStatus">
										Полное состояние ККТ
									</a>

								</li>
								<li class="list-group-item">
									Наличие ошибок:
									<span id="errorsInKkt">
										<span class="spinner-grow spinner-grow-sm"
											role="status"></span>
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="card">
						<div class="card-body">
							<h3 class="card-title">Информация</h3>
							<h5 class="card-subtitle mb-2 text-body-secondary">
								Данные текущего пользователя и ККТ
							</h5>
							<ul class="list-group">
								<li class="list-group-item">
									ФИО кассира:
									<span id="cashierName">{{ cashierName }}</span>
								</li>
								<li class="list-group-item">
									ИНН кассира:
									<span id="cashierVatin">{{ cashierVatin }}</span>
								</li>
								<li class="list-group-item">
									ККТ:
									<a href="#kktNumber" id="kktNumber">
										<span class="spinner-grow spinner-grow-sm"
											role="status"></span>
									</a>
								</li>
								<li class="list-group-item">
									Версия ФФД:
									<span id="FFDVersion">
										<span class="spinner-grow spinner-grow-sm"
											role="status"></span>
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include "parts/menu_closeShiftPromptModal.html.twig" %}
	{% include "parts/menu_inOutCashModal.html.twig" %}
	{% include "parts/menu_chequeCopyPrintModal.html.twig" %}
{% endblock body %}
